body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background-image: url("../photos/body-bg.jpg");
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  height: 120px;
  background-color: #fff;
}

.header-title h1 {
  font-family: "lato";
  font-size: 34px;
  font-weight: bold;
  color: red;
  margin: 0;
}
.header-title h3 {
  font-family: "lato";
  font-size: 18px;
  font-weight: bold;
  color: #787878;
  margin: 0;
}

.header-left {
  display: inline-block;
}

.header-right {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

textarea {
  margin-left: 190px;
  margin-bottom: -10px;
}

.lang-nav {
  text-align: right;
  margin: -15px 0 5px 0;
}
.lang-nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}
.lang-nav li a {
  font-family: "lato";
  color: #787878;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
}

.lang-nav .active {
  color: #303132;
}

.menu-nav {
  text-align: right;
  margin: 0;
}
.menu-nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}
.menu-nav li a {
  font-family: "lato";
  color: #787878;
  font-size: 18px;
  text-decoration: none;
}

.menu-nav .active {
  color: #303132;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.header-content {
  max-width: 958px;
  margin: 0 auto;
  padding: 30px 0;
}

.posts-box {
  min-height: 355px;
}
@media screen and (max-width: 974px) {
  .posts-box {
    max-width: 713px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 728px) {
  .posts-box {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 504px) {
  .posts-box {
    text-align: center;
  }
}
.posts-box h1 {
  padding: 10px;
  font-size: 34px;
  font-weight: normal;
}
.posts-box h4 {
  font-size: 12px;
  color: #787878;
  text-align: right;
  margin-top: 145px;
}

.post {
  display: inline-block;
  margin-right: 22px;
  margin-top: 60px;
}

.post:nth-child(4n+4) {
  margin-right: 0;
}

@media screen and (max-width: 974px) {
  .post:nth-child(3n+3) {
    margin-right: 0;
  }

  .post:nth-child(4n+4) {
    margin-right: 22px;
  }
}
@media screen and (max-width: 728px) {
  .post:nth-child(3n+3) {
    margin-right: 22px;
  }
}
.posts-img-1 {
  background-image: url("../photos/1.png");
}

.posts-img-2 {
  background-image: url("../photos/2.png");
}

.posts-img-3 {
  background-image: url("../photos/3.png");
}

.posts-img-4 {
  background-image: url("../photos/1.png");
}

.posts-img-1,
.posts-img-2,
.posts-img-3,
.posts-img-4 {
  width: 220px;
  height: 300px;
  text-align: left;
}

.content-text {
  text-align: center;
}
.content-text h1 {
  font-weight: normal;
  font-size: 34px;
}
.content-text h3 {
  font-weight: normal;
  font-family: "lato";
  color: #787878;
  font-size: 18px;
}

.footer {
  height: 75px;
  margin-top: 80px;
}
.footer h4 {
  font-size: 11px;
  display: inline-block;
  color: #7f7f7f;
}

.create {
  float: right;
}
